<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start"
     data-emptytext="${component.title} Component"></div>

<section class="lead-gen lead-gen--cover">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="lead-gen__content">
                    <div class="row">
                        <sly data-sly-include="leadGenAsset"/>
                        <sly data-sly-include="leadGenText"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>