<sly
  data-sly-use.model="com.vonage.core.models.content.JumpLinksModel"
  data-sly-use.template="limitedGrid.html"
/>

<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder cq-marker-start"
  style="height: 150px;"
  data-emptytext="${component.title} Component"
  style="min-width: 250px;"
></div>
  <section class="jump-links">
    <div class="jump-links__spacer ${properties.background}"></div>
    <div class="container">
      <sly
        data-sly-call="${template.main @ numberOfItems=model.numberOfItems,
          resourceType='vonage/components/content/jumpLinks/jumpLinksItem'}"
      />
    </div>
  </section>
