<sly data-sly-use.model="com.vonage.core.models.content.InArticleImageComponentModel"/>
<sly data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"/>
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start"
     data-emptytext="${component.title} Component"></div>

<section class="in-article-image">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 col-lg-4 offset-lg-0 order-lg-last align-self-lg-end">
          <div class="in-article-image__description-content">
            <p class="in-article-image__description ${!image.displayPopupTitle && image.title ? ' in-article-image__description--caption' : ''}">${model.description}</p>
          </div>
        </div>
      <div class="col-12 col-lg-8 p-0 px-lg-3 ${!model.description ? ' offset-lg-1' : ''} align-self-lg-end">
        <figure class="in-article-image__asset">
          <sly data-sly-include="image.html"/>
        </figure>
      </div>
    </div>
  </div>
</section>