<div class="container currency-container">
  <div class="currency-container__toggle-container">
    <span class="currency-container__currency">$</span>
    <input class="currency-container__toggle" type="checkbox" aria-label="change currency"/>
    <span class="currency-container__currency">€</span>
  </div>
  <div class="currency-container__disclaimer-container">
    <p class="currency-container__disclaimer">${'vng-currency-disclaimer-1' @ i18n}</p>
    <p class="currency-container__disclaimer">${'vng-currency-disclaimer-2' @ i18n}</p>
  </div>
</div>
