<sly data-sly-use.model="${'com.vonage.core.models.content.videos.VideoComponentModel'}"/>
<sly data-sly-use.image="com.adobe.cq.wcm.core.components.models.Image"/>
<sly data-sly-use.template="vonage/components/utils/baseComponent/videoImageTemplate.html"/>

<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start"
     data-emptytext="${component.title} Component"></div>

<sly data-sly-test="${model.dataVideoId}">
	<sly data-sly-call="${template.videoImageContent @ dataVideoId=model.dataVideoId, caption=image.title, ariaLabel=model.ariaLabel}"></sly>
</sly>