<div data-sly-test="${wcmmode.edit}"
	class="cq-placeholder cq-marker-start"
	data-emptytext="${component.title} Component"></div>


<div class="cart-pricing-details__tablet">
  <sly data-sly-resource="${'Cart Details' @ resourceType='/apps/vonage/components/ecommerce/cartPricingDetails'}" />
</div>
<section class="cart-summary">
  <div class="container ">
    <div class="row">
      <div class="col-12 col-lg-8 left-panel">
        <sly data-sly-resource="${'Plan Summary' @ resourceType='/apps/vonage/components/ecommerce/planSummary'}" />
      </div>
      <div class="col-12 col-lg-4">
        <sly data-sly-resource="${'Cart Details' @ resourceType='/apps/vonage/components/ecommerce/cartPricingDetails'}" />
      </div>
    </div>
  </div>
</section>
