<div class="row align-items-lg-center">
    <div class="col-12 col-lg-4">
        <!--/* Social Links Component */-->
        <sly data-sly-resource="${'social' @resourceType='vonage/components/content/social'}"/>
    </div>
    <div class="col-12 col-lg-7">
        <sly data-sly-resource="${'legalLinkList' @resourceType='vonage/components/content/navigations/legalLinkList'}"/>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <sly data-sly-resource="${'copyright' @resourceType='vonage/components/content/copyright'}"/>
    </div>
</div>