<sly data-sly-use.model="${'com.vonage.core.models.content.LeadGenAlternativeComponentModel'}"/>
<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start"
     data-emptytext="${component.title} Component"></div>

<section class="lead-gen-alternative">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <div class="lead-gen-alternative__headline-wrapper">
                    <sly data-sly-include="image.html"/>
                    <h2 class="lead-gen-alternative__headline">${model.headline}</h2>
                </div>
            </div>
            <div class="col-12 col-md-8 col-lg-4">
                <div class="lead-gen-alternative__info">
                    <div class="lead-gen-alternative__info-numbers">
                        <div class="lead-gen-alternative__info-numbers__number">
                          <span class="lead-gen-alternative__info-number-label">${model.phoneNumberLabel}</span>
                          <a href="tel:+${model.phoneNumber}" class="lead-gen-alternative__info-number-data">${model.phoneNumber}</a>
                        </div>
                        <div class="lead-gen-alternative__info-numbers__number" data-sly-test="${model.phoneNumberLabel2}">
                          <span class="lead-gen-alternative__info-number-label">${model.phoneNumberLabel2}</span>
                          <a href="tel:+${model.phoneNumber2}" class="lead-gen-alternative__info-number-data">${model.phoneNumber2}</a>
                        </div>
                        <div class="lead-gen-alternative__info-numbers__number lead-gen-alternative__info-numbers__global" data-sly-test="${model.globalContactLabel}">
                            <span class="lead-gen-alternative__info-number-label">${model.globalContactLabel}</span>
                            <sly data-sly-resource="${'globalContactCTA' @resourceType='vonage/components/content/cta',addSelectors='link-light'}"></sly>
                          </div>
                    </div>
                    <div class="lead-gen-alternative__info-links">
                        <span class="Vlt-icon-letter-icon"></span>
                        <div style="min-width: 125px; min-height: 50px;" data-sly-unwrap="${!wcmmode.edit && !wcmmode.preview}">
                            <sly data-sly-resource="${'emailCta' @resourceType='vonage/components/content/cta',addSelectors='link-light'}"></sly>
                        </div>
                        <sly data-sly-test="${(!inheritedPageProperties.disableDrift && model.isChatLink) || !model.isChatLink}">
                            <span class="Vlt-icon-message-icon"></span>
                            <div style="min-width: 125px; min-height: 50px;" data-sly-unwrap="${!wcmmode.edit && !wcmmode.preview}">
                                <sly data-sly-resource="${'chatCta' @resourceType='vonage/components/content/cta',addSelectors='link-light'}"></sly>
                            </div> 
                        </sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 