<sly data-sly-use.model="com.vonage.core.models.content.navigations.LinkListComponentModel"/>

<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start"
     data-emptytext="${component.title} Component" style="min-width:250px"></div>

<ul class="Vlt-footer__legal-group" data-sly-list.resourceLink="${model.links}">
    <li class="Vlt-footer__legal-item">
        <a class="Vlt-footer__legal-social-link"
           href="${resourceLink.link.href}"
           aria-label="${resourceLink.link.type}"
           target="${resourceLink.link.target}"
           rel="noopener"
           aria-describedby="${resourceLink.link.target =='_blank' ? 'new-window' : ''}">
            <i class="Vlt-icon-social Vlt-icon-social--${resourceLink.link.type} Vlt-footer__icon"></i>
        </a>
    </li>
</ul>
