<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder cq-marker-start"
  data-emptytext="${component.title} Component"
></div>
  <div class="video-embed" data-video-id="${properties.dataVideoId}">
      <div class="video-embed__trigger">
        <button class="btn">
          ${properties.label}
        </button>
      </div>
      <div class="video-embed__video">
        <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope;picture-in-picture" allowfullscreen class="video-embed__iframe" title="Youtube Video" tabindex="0"></iframe>
      </div>
  </div>