<sly
	data-sly-use.model="${'com.vonage.core.models.content.HeaderListsComponentModel'}" />
<header class="header-lists">
	<div class="content-resource-header">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-11 col-lg-9">
					<h1 class="content-resource-header__headline">${model.title}</h1>
				</div>
			</div>
			<div class="row">
				<div
					class="col-10 offset-2 col-md-7 offset-md-5 col-lg-6 offset-lg-6">
					<p class="content-resource-header__description">${model.description}</p>
				</div>
			</div>
			<div class="row"
				data-sly-test="${!properties.primaryLightbox}"
				data-sly-use.download="com.adobe.cq.wcm.core.components.models.Download">
				<div class="col-12">
					<div class="cmp-download">
						<a data-sly-test="${download.url && download.actionText}"
							aria-label="${properties.ariaLabel ? properties.ariaLabel : download.actionText}"
							class="cmp-download__action" href="${download.url}"> <span
							class="cmp-download__action-text">${download.actionText}</span>
						</a>
					</div>
				</div>
			</div>
			<div class="row"
				data-sly-test="${properties.primaryLightbox}">
				<div class="col-12">
					<div class="cmp-download">
						<sly data-sly-resource="${'ctaLightbox' @resourceType='/apps/vonage/components/utils/lightboxCta', addSelectors='btn-light'}"> </sly>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="header-lists__content">
		<div class="header-lists__background"></div>
		<div class="header-lists__lists">
			<div class="container-fluid">
				<div class="row">
					<div class="col-12 col-md-6 p-0 px-md-3">
						<div class="header-lists__features">
							<span class="header-lists__features-title">${model.cardOneTitle}</span>
							<ul class="header-lists__features-list"
								data-sly-test.cardOneList="${model.cardOne}"
								data-sly-list="${cardOneList}">
								<li>${item.listItem}</li>
							</ul>
						</div>
					</div>
					<div class="col-12 col-md-6 p-0 px-md-3">
						<div
							class="header-lists__features header-lists__features--secondary">
							<span class="header-lists__features-title">${model.cardTwoTitle}</span>
							<ul class="header-lists__features-list"
								data-sly-test.cardTwoList="${model.cardTwo}"
								data-sly-list="${cardTwoList}">
								<li>${item.listItem}</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>