<sly data-sly-use.model="com.vonage.core.models.content.HeroForm" />

<div data-sly-test="${wcmmode.edit}" class="cq-placeholder cq-marker-start"
  data-emptytext="${component.title} Component" style="min-width:250px"></div>

<section class="campaign-hero-with-form ${properties.heroTheme}">
  <div class="container">
    <div class="row">
      <!-- Left Column (Text) -->
      <div class=" col-12 col-md-10 col-lg-6">
        <h3 class="campaign-hero-with-form__eyebrow-content" data-sly-test="${model.eyebrowContent}">
          ${model.eyebrowContent}
        </h3>
        <h1 class="campaign-hero-with-form__title" data-sly-test="${model.title}">${model.title}</h1>
        <p class="campaign-hero-with-form__description" data-sly-test="${model.description}">
          ${model.description}</p>
        <ul data-sly-list.item="${model.bulletPoints}" class="campaign-hero-with-form__list">
          <li class="campaign-hero-with-form__list-item">
            <span>${item.label}</span>
          </li>
        </ul>
        <div class="campaign-hero-with-form__additional-content">
          <sly data-sly-resource="${ @path='responsiveGrid1',
            resourceType='vonage/components/utils/rowResponsiveGrid'}"></sly>
        </div>
      </div>

      <!-- Right Column (Form) -->
      <div class="col-12 ${properties.condenseForm ? 'col-lg-6' : 'col-lg-5 offset-lg-1'} ">
        <div class="campaign-hero-with-form__extrusion">
          <div class="campaign-hero-with-form__card">
            <div style="width:auto; min-width: 355px; height: auto; min-height: 522px;"
              data-sly-unwrap="${!wcmmode.edit && !wcmmode.preview}">
              <sly data-sly-test="${properties.bestNextForm}">
                <sly
                  data-sly-resource="${ @path='bestNextStepForm', resourceType='vonage/components/ecommerce/bestNextStepForm'}" />
              </sly>
              <sly data-sly-test="${!properties.bestNextForm}">
                <sly data-sly-test="${!properties.condenseForm}"
                  data-sly-resource="${ @path='form', resourceType='vonage/components/utils/forms/container/form'}" />
                <sly data-sly-test="${properties.condenseForm}"
                  data-sly-resource="${ @path='form', resourceType='vonage/components/utils/forms/container/form/', selectors='condensed'}" />

                  <!-- Success State Goes Here-->

                <sly data-sly-test="${model.confMessagePath}"
                  data-sly-resource="${model.confMessagePath}/jcr:content/root" />
              </sly>
            </div>

          </div>
        </div>
        <div class="campaign-hero-with-form__below-form">
          <sly
            data-sly-resource="${ @path='responsiveGrid3', resourceType='vonage/components/utils/rowResponsiveGrid'}">
          </sly>
        </div>
      </div>
    </div>
    <div class="row campaign-hero-with-form__after-hero">
      <div class="col-12">
        <sly data-sly-resource="${ @path='responsiveGrid2',
        resourceType='vonage/components/utils/rowResponsiveGrid'}"></sly>
      </div>
    </div>
  </div>
</section>