<footer class="Vlt-footer-alternative" data-swiftype-index="false">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="Vlt-footer-alternative__group">
                    <div style="width:auto; min-width: 200px; height:auto; min-height: 100px; margin: 20px;"
                         data-sly-unwrap="${!wcmmode.edit && !wcmmode.preview}">
                        <sly data-sly-resource="${'titleLinkList1' @resourceType='vonage/components/content/navigations/titleLinkList', addSelectors='titleLinkListAlternative'}"></sly>
                    </div>
                    <div style="width:auto; min-width: 200px; height:auto; min-height: 100px; margin: 20px"
                         data-sly-unwrap="${!wcmmode.edit && !wcmmode.preview}">
                        <sly data-sly-resource="${'titleLinkList2' @resourceType='vonage/components/content/navigations/titleLinkList', addSelectors='titleLinkListAlternative'}"></sly>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="Vlt-footer-alternative__group">
                    <div style="width:auto; min-width: 200px; height:auto; min-height: 100px; margin: 20px"
                         data-sly-unwrap="${!wcmmode.edit && !wcmmode.preview}">
                        <sly data-sly-resource="${'social' @resourceType='vonage/components/content/socialAlternative'}"></sly>
                    </div>
                    <div style="width:auto; min-width: 200px; height:auto; min-height: 100px; margin: 20px"
                         data-sly-unwrap="${!wcmmode.edit && !wcmmode.preview}">
                        <sly data-sly-resource="${'titleLinkList3' @resourceType='vonage/components/content/navigations/titleLinkList', addSelectors='titleLinkListAlternative'}"></sly>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
