<sly
  data-sly-use.model="com.vonage.core.models.content.IconPanelModel"
  data-sly-use.template="limitedGrid.html"
/>

<div
  data-sly-test="${wcmmode.edit}"
  class="cq-placeholder cq-marker-start"
  style="height: 150px;"
  data-emptytext="${component.title} Component"
  style="min-width: 250px;"
></div>

<section class="icon-panel">
  <div class="container">
    <sly
      data-sly-call="${template.main @ numberOfItems=model.numberOfItems,
        resourceType='vonage/components/content/iconPanel/iconPanelItem'}"
    />
  </div>
</section>
