<section class="search-box">
    <div class="search-box__backdrop"></div>
    <button class="search-box__search-icon" aria-label="open site search box">
        <span class="Vlt-icon-search-icon"></span>
    </button>
    <div class="search-box__container">
        <div class="search-box__interaction">
            <form class="search-box__form" _lpchecked="1" action="/search/" method="GET">
                <input name="q" type="text" placeholder="Search Vonage.com" class="search-box__input" aria-label="search vonage">
            </form>
            <button class="search-box__close-icon" aria-label="close site search box">
                <span class="Vlt-icon-close"></span>
            </button>
        </div>
        <!--/*
        <div class="search-box__quick-links">
            <span class="search-box__quick-links-title">suggested links</span>
            <a class="search-box__quick-link" href="#">
                APIs
                <span class="Vlt-icon-arrow-link"></span>
            </a>
            <a class="search-box__quick-link" href="#">
                Salesforce Integration
                <span class="Vlt-icon-arrow-link"></span>
            </a>
            <a class="search-box__quick-link" href="#">
                Amazon Chime
                <span class="Vlt-icon-arrow-link"></span>
            </a>
            <a class="search-box__quick-link" href="#">
                Vonage Campus 2019
                <span class="Vlt-icon-arrow-link"></span>
            </a>
            <a class="search-box__quick-link" href="#">
                Cloud Communications
                <span class="Vlt-icon-arrow-link"></span>
            </a>
        </div>
        */-->
    </div>
</section>